<section class="w-full h-screen flex flex-col justify-center bg-blue-500 py-2 px-5 md:px-0">
  <h2 class="text-3xl font-bold text-center my-3">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="bg-white p-10 w-full md:w-1/2 flex flex-col gap-3 mx-auto">
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "New password" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" , class:" block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200
            rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700
            focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring
            focus:ring-opacity-40"%>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:" block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200
            rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700
            focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring
            focus:ring-opacity-40"%>
        </div>

        <div class="actions">
          <%= f.submit "Change my password" , class: "hover:bg-blue-800 duration-90 bg-blue-700 border-blue-700 p-2 px-4 text-white rounded-sm "%>
        </div>
       <div class="text-blue-700">
         <%= render "devise/shared/links"%>
       </div>
    </div>
  <% end %>

</section>