<section class="border border-gray-200 flex-1 mx-2 gap-4 flex flex-col pb-4">
	<%= render 'shared/user', user: @user %>
	<% @posts.each do |post| %>
		<div class="flex flex-col gap-1">
			<%= render 'shared/post', post: post %>
			<div class="border border-gray-200 p-3 mx-5">
				<% post.most_recent_comments.each do | comment | %>
				<% @user = User.find(comment.author_id) %>
				<p><%= @user["name"] %>: <span><%= comment.text %></span></p>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class=" flex justify-center">
		<%= content_tag :div, class: "digg_pagination" do %>
		<%= will_paginate @posts %>
		<% end %>
	</div>
	
</section>