<section class="gap">
	<%= render 'shared/user', user: @user %>
	<% @posts.each do |post| %>
		<div class="post-comment">
			<%= render 'shared/post', post: post %>
			<div class="border">
				<% post.most_recent_comments.each do | comment | %>
				<% @user = User.find(comment.author_id) %>
				<p><%= @user["name"] %>: <span><%= comment.text %></span></p>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="center pg">
		<%= content_tag :div, class: "will-paginate-container" do %>
		<%= will_paginate @posts %>
		<% end %>
	</div>
	
</section>